.demo-wrapper {
  max-width: 640px;
  margin: 40px auto 0;
}

.demo-item {
  margin-bottom: 12px;
}

.box {
  width: 200px;
  height: 100px;
}
.box1 {
  background: red;
}
.box2 {
  background: pink;
}
